<h3><?php echo $post['Post']['title']; ?></h3>

<p>Title: <?php echo $post['Post']['title']; ?></p>
<p>Body: <?php echo $post['Post']['body']; ?></p>
<p>Author: <?php echo $post['User']['username']; ?></p>
<p>Image: <?php echo $post['Post']['post_pic']; ?></p>
