<h3><?php echo $user['User']['firstname'].$user['User']['lastname']; ?></h3>

<p>First Name: <?php echo $user['User']['firstname']; ?></p>
<p>Last Name: <?php echo $user['User']['lastname']; ?></p>
<p>Username: <?php echo $user['User']['username']; ?></p>
<p>Profile Picture: <?php echo $user['User']['profile_pic']; ?></p>
<p>Email Status <?php echo $user['User']['email_status']; ?></p>